<div class="line">
  <a target="_blank" href="{{model.linkTwitter}}"><img src="/img/logos/twitter.png" /></a>
  <a target="_blank" href="{{model.linkLinkedin}}"><img src="/img/logos/linkedin.png" /></a>
  <a target="_blank" href="{{model.linkViadeo}}"><img src="/img/logos/viadeo.png" /></a>
</div>