<div class="main-title">
  <div class="padding-side">
    <img height="90px" src="/img/logos/logosite_white.png" />
  </div>
  <div class="alignleft">
    <h1>{{model.name}}</h1>
    <h2 class="sub-h1">{{model.title}}</h2>
  </div>
</div>