@import "ember-bootstrap/bootstrap";
@import "font-awesome";

// Surcharge bootstrap
.container {
  width: 100%;
}

.col-md-1,.col-md-2,.col-md-10,.col-md-11 {
  padding-left:0px;
  padding-right:0px;
}

@media (min-width: 992px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}

//---- Variables ----

// Texte par défaut
$color1: #cccccc;
// Texte coloré pour mise en valeur
$color2: #7f7abc;
// Couleur de fond
$item-color1:#232323;
// Couleur de hover proche du fond
$item-color2:#333;
// Padding standard pour les éléments dans les box
$padding-box-large: 20px;
$padding-box: 10px;
// Petit padding standard entre les éléments proches
$small-padding: 5px;
// Border with standard pour tous les éléments en border-style solid
$border-width: 2px;
// Taille des images sur les headers de catégorie
$category-sprite-size: 60px;
// Taille des images dans la galerie
$size-img-gallery: 70px;
// Delta de taille sup des images de la galerie en hover
$marge-img-gallery: 5px;
// Taille des images dans la bibliothèque (21x29,7)*3
$size-img-book-w: 63px;
$size-img-book-h: 89.1px;

// General
body {
  background-color: $item-color1;
  color: $color1;
  font-size: 1.2em;
}

a, a:hover, a:focus {
  text-decoration: none;
  color: $color1;
}

// Titles
h1 {
  font-size: 1.6em;
  margin-bottom: 5px;
}

h2 {
  font-style: italic;
  font-size: 1.2em;
  color: $color2;
}

.sub-h1 {
  padding-left:20px;
}

// Align and paddings
.aligncenter {
  text-align: center;
}
.alignleft {
  text-align: left;
}
.alignjustify {
  text-align: justify;
}
.inline {
  display: inline-block;
  margin: 0;
}
.padding-side {
  padding-left:$padding-box;
  padding-right:$padding-box;
}
.custombox--large {
  padding:$padding-box-large;
}
.custombox {
  padding:$padding-box;
}
.borderbox {
  border-style:solid;
  border-width:$border-width;
  border-color:$item-color2;
}

.borderleft {
  border-left-style:solid;
  border-left-width:$border-width;
  border-left-color:$item-color2;
}

.shadowbox {
  box-shadow: 8px 8px 12px #111;
}

.roundedbox {
  border-radius: 4px;
  margin-bottom: 10px;
}

.widthmax {
  width: 100%;
}

.badge {
  float: right;
  font-weight: 500;
}

.label {
  background-color:$color2;
  border-radius:6px;
  padding:3px;
  margin-right: 3px;
  margin-bottom: 3px;
}

// Specific
.main-title {
  display: inline-flex;
}

.language-bar {
  float: right;
  display: inline-table;
  button {
    color: $color1;
    background: none;
    border: none;
  }
}

// Equipment bar
.equipment-bar-item {
  border-bottom-style:solid;
  border-bottom-width:$border-width;
  border-bottom-color:$item-color2;
}

.equipment-item {
  min-width: 150px;
  border-right-style:solid;
  border-right-width:$border-width;
  border-right-color:$item-color1;
}

.links-buttons {
  float: right;

  .custombox {
    padding-top: $small-padding;

    a {
      cursor: pointer;
      img {
        width:40px;
        padding-left: $small-padding;
      }
    }
  }

  .line {
    .category-slots {
      margin-left: 0;
      margin-bottom: 0;
      display: inline-block;
      button {
        margin-bottom:0;
      }
    }
  }
}

.category-slots {
  padding-left: 0px;
}

.equipment-item:hover, .equipment-item:focus {
  background-color: $item-color2;
}

a.active .equipment-item  {
  background-color: $item-color2;
}

// CV route
.cv {
  margin-top: $padding-box;

  .category-slots {
    margin-left: 0;
    margin-top: 0;

    button {
      padding: $small-padding;
      margin-bottom: $padding-box;
    }
  }
}

//Category header
.category-container {
  width: 100%;
  display: inline-flex;

  img {
    height: $category-sprite-size;
  }

  .category-line {
    width: 100%;
    display: inline-flex;
    margin-left: 15px;

    .title-container {
      width: 100%;

      .category-title {
        background-color:white;
        color:$item-color1;
        font-weight: bold;
        padding: 4px;
        padding-left: 20px;
        margin-top: 10px;
      }
    }
  }

  .fa {
    //--- Version collée---
    // font-size: 3.3em;
    // margin-left: -2px;
    // margin-top: 30%;

    //--- Version espacée---
    font-size: 3.3em;
    margin-left: 4px;
    margin-top: 24%;
  }

  .fa-dark {
    margin-left: -228px;

    .fa {
      color: $item-color1;
    }
  }
}

//Category slots
.category-slots {

  li {
    background-color: $item-color1;

    &:hover {
      background-color: $item-color2;
      border-color: $color2;
    }

    a:focus, a.active {
      .project-slot {
        background-color: $item-color2;
        border-color: $color2;
      }
    }
  }

  // Ce cas est celui des badges de la page skills, qui ne doivent pas avoir le margin-left
  &.borderleft {
    margin-left: 0;
  }

  // Sur les picture slot, les img sont dans des div plus grandes que leur taille pour que la ligne ne bouge pas au hover
  .picture-slot {

    // La taille du conteneur est celle de l'image taille max + les border-width de chaque côté
    vertical-align: middle;
    width: $size-img-gallery + $marge-img-gallery + ($border-width*2);
    height: $size-img-gallery + $marge-img-gallery + ($border-width*2);
    margin: 2px;

    img {
      // L'image a une taille standard
      width: $size-img-gallery;
      height: $size-img-gallery;

      &:hover {
        // Et au hover, on augmente sa taille et on ajoute le border radius
        width: $size-img-gallery + $marge-img-gallery;
        height: $size-img-gallery + $marge-img-gallery;
        border-style: solid;
        border-width: $border-width;
        border-color: $color1;
      }
    }

    // Si l'image est celle d'un book-slot au lieu d'un picture slot, on change juste les tailles de base et on gère le p
    &.book-slot {

      width: $size-img-book-w + $marge-img-gallery + ($border-width*2);
      height: $size-img-book-h + $marge-img-gallery + ($border-width*2) + 22px;

      img {
        width: $size-img-book-w;
        height: $size-img-book-h;
      }

      // Le bloc p pour le titre ne doit pas bouger, de base margin-top correspond au delta de taille sup total pour l'img
      p {
        height: 22px;
        margin-top: $marge-img-gallery + ($border-width*2);
        margin-bottom: 0;
      }

      // Set fois on prend le hover sur toute la div (on a besoin d'agir sur le p hors img quand img est agrandi)
      &:hover {

        img {
          width: $size-img-book-w + $marge-img-gallery;
          height: $size-img-book-h + $marge-img-gallery;
        }

        // Quand l'image est sélectionnée, on supprime le delta ajouté à l'image, les boders ne sont pas pris en compte
        p {
          margin-top: $border-width*2;
        }
      }

    }
  }

  .project-slot {

    &:hover {
      background: $item-color2;
    }

    p {
      margin: 0px;
    }

    button {
      padding: $small-padding*1.5;

      border-top-style:none;
      border-left-style:none;
      border-right-style:none;

      .project-slot-img {
        width: 50px;
        height: 50px;
        margin-right: $padding-box;
      }

      .project-slot-info {
        color: $color1;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .skill-slot {

    margin-top: $small-padding;
    margin-bottom: $small-padding*2;

    // Surcharge de label : on veut une police plus grande et plus d'espace
    .label {
      font-size: 100%;
      padding:$small-padding;
      padding-left:$small-padding*1.5;
      padding-right:$small-padding*1.5;

      // On va également intégrer d'autres couleurs pour différencier les labels
      &.framework, &.anim {
        background-color: #2087af;
      }
      &.markup, &.soft3d {
        background-color: #1dab3c;
      }
      &.tool, &.sport {
        background-color: #cc6c07;
      }
      &.language, &.culture {
        background-color: #e23c3c;
      }
    }
  }
}

.scrollable {
  overflow: auto;
  max-height: 300px;
}

// Panels
.project-template {
  padding: $padding-box;

  h2 {
    font-size: 1.1em;
    margin-bottom: $padding-box;
  }

  h3 {
    font-size: 1.1em;
    margin-bottom: $small-padding;
    margin-top: 0;
  }

  img {
    width: 100%;
    &.logo {
      width: 60px;
      text-align: center;
    }
  }

  .project-part {
    padding: $padding-box;

    p, li {
      text-align: justify;
    }

    &.t1 {
      background-color: $item-color2;
    }

    strong {
      color: $color2;
    }

    .important {
      color: $color2;
      font-size: 1.2em;
    }
  }
}
