<li class="inline widthmax">
  <LinkTo
    class="alignleft widthmax"
    @route="home.apps.app"
    @model={{@slotParams.id}}>
    <div class="project-slot custombox">
      <div class="project-slot-info">
        <p class="inline">
          {{t (concat "category.slot." @slotParams.id ".label")}}
        </p>
        {{#each @slotParams.skills as |skill|}}
          <span class="badge label">{{skill}}</span>
        {{/each}}
      </div>
    </div>
  </LinkTo>
</li>
