<div class="project-slot custombox">
  <LinkTo
    tagName="button"
    class="alignleft widthmax"
    @route="home.projects.project"
    @model={{@slotParams.projectId}}>
    <div class="project-slot-info">
      {{!-- <img class="project-slot-img" src={{@slotParams.sprite}}> --}}
      <p class="inline">{{@slotParams.text}}</p>
      <div>
        {{#each @slotParams.skills as |skill|}}
          <span class="label">{{skill}}</span>
        {{/each}}
      </div>
    </div>
  </LinkTo>
</div>
