<div class="cv aligncenter">
  <div class="category-slots">
    <button class="borderbox roundedbox" {{action "onSwitch"}}>{{selected.text}}</button>
  </div>
  <object class="cv-object" width="650" height="960" type="application/pdf" data="{{selected.file}}"></object>
</div>
