<div class="container">
  <div class="row">
    <div class="col-md-4">
      {{#each this.model as |category|}}
        <Category @model={{category}} />
      {{/each}}
    </div>
    <div class="col-md-8">
      {{outlet}}
    </div>
  </div>
</div>
