<div class="inline links-buttons pull-right">
  <div class="custombox">
    <span>Mes réseaux : </span>
    <a target="_blank"
      rel="noopener noreferrer"
      href={{@model.linkGithub}}>
      Github
    </a>
    <span>, </span>
    <a target="_blank"
      rel="noopener noreferrer"
      href={{@model.linkLinkedin}}>
      LinkedIn
    </a>
  </div>
</div>