<div class="profile-header custombox--large">
  <div class="padding-side">
    <img
      height="70px"
      src="/img/logos/logosite_white.png"
      alt={{@me.name}} />
  </div>
  <div class="alignleft">
    <h1>{{@me.name}}</h1>
    <h2>{{t "me.title"}}</h2>
  </div>
</div>