<div class="main-title custombox--large">
  <div class="padding-side">
    <img
      height="70px"
      src="/img/logos/logosite_white.png"
      alt="Marine Dunstetter" />
  </div>
  <div class="alignleft">
    <h1>{{@model.name}}</h1>
    <h2 class="sub-h1">{{@model.title}}</h2>
  </div>
</div>