<div class="main-title custombox--large" ...attributes>
  <div class="padding-side">
    <img
      height="70px"
      src="/img/logos/logosite_white.png"
      alt={{@model.name}} />
  </div>
  <div class="alignleft">
    <h1>{{@model.name}}</h1>
    <h2 class="sub-h1">{{t "me.title"}}</h2>
  </div>
</div>