<div class="project-template borderleft">
  {{#let (concat "category.slot." @projectId ".") as |tkey|}}
    <h1>{{t (concat tkey "label")}}</h1>
    <p>{{t (concat tkey "intro")}}</p>
    {{yield tkey}}
  {{/let}}
</div>