<div class="project-template borderleft">
  <h1>Bewilder House</h1>
  <h2>Vous vous réveillez dans une étrange funhouse qui joue avec vos repères et semble déterminée à vous garder pris au piège. Le seul moyen de vous échapper sera de venir à bout des énigmes de spatialisation (et de rester en vie) via une utilisation originale des contrôles en première personne. "Good luck, Mister Grown up".</h2>

  <div class="project-part t1">
    <h3>Liens</h3>
    <p>Bewilder House est <strong>gratuit</strong> et disponible sur Gamejolt. <strong><a class="important" target="_blank" href="http://gamejolt.com/games/puzzle/bewilder-house/17297" rel="noopener noreferrer">Télécharger-le ici</a></strong> et laissez-nous votre avis ! (Si vous avez aimé le jeu, un petit 5/5 sur Gamejolt augmentera notre visibilité sur le site :p)</p>
    <p>N'hésitez pas à laisser un petit like sur notre <strong><a class="important" target="_blank" href="https://www.facebook.com/Bewilder-House-official-255616847933869" rel="noopener noreferrer">page Facebook</a></strong>.</p>
    <p>Si vous souhaitez dire un mot à la Minoteam, nous avons aussi une adresse mail : <strong>bewilderhouse@gmail.com</strong>.</p>
  </div>

  <div class="project-part t2">
    <h3>Trailer</h3>
    <p>Disponible depuis notre chaîne Youtube.</p>
    <div class="video">
      <iframe
        title="Trailer de Bewilder House"
        width="640"
        height="360"
        src="https://www.youtube.com/embed/H49-RM41b4I"
        frameborder="0"
        allowfullscreen>
      </iframe>
    </div>
  </div>

  <div class="project-part t1">
    <h3>Trailer univers</h3>
    <p>Premier trailer univers réalisé avec 3DS Max au cours du développement du projet. L'objectif était de donner une première idée de l'ambiance du prototype final (on peut y voir ce que fut le clown en des temps très anciens ^^).</p>
    <div class="video"><video controls src="/video/bewilder_trailer_univers.mp4" width="640" height="360"></video></div>
  </div>

  <div class="project-part t2">
    <h3>A propos</h3>
    <p>Comme le veut la tradition à Supinfogame, la dernière année d’étude consiste à produire un prototype de jeu de qualité, dans une équipe de 5 ou 6 étudiants. Mon projet de fin d’étude se nomme Bewilder House. L’auteur du concept d’origine est Robin Vallery. Au fil de l’année, tous les membres de l’équipe se sont appropriés le concept et ont fait de Bewilder House le jeu qu’il est aujourd’hui.</p>
  </div>

  <div class="project-part t1">
    <h3>Game Design</h3>
    <p>Bewilder House est un puzzle game en première personne qui place la perte de repère et l’observation au coeur du gameplay.</p>
    <p>Le joueur est perdu dans un labyrinthe constitué de salles identiques et dont la sortie est invisible. Il a en sa possession une carte du labyrinthe indiquant deux informations : l’emplacement de la sortie ainsi que des icônes représentant des repères présents dans le labyrinthe; et c'est tout, le joueur ne connait pas sa propre position.</p>
    <p>Le joueur explore donc le labyrinthe à la recherche de ces repères afin de se spatialiser et de comprendre où se trouve la sortie. Il doit alors rejoindre cette sortie invisible et la « révéler » à l’aide d’une touche.</p>
    <p>Cependant, le labyrinthe a un comportement bien étrange : les portes s’ouvrent et se ferment lorsque le joueur ne les regarde pas, il est donc impossible de se repérer à l’aide des chemins précédemment empruntés, puisque ces chemins changent sans cesse.</p>
  </div>

  <div class="project-part t2">
    <h3>Univers</h3>
    <p>Notre univers a été défini autour de trois points clés :</p>
    <ul>
      <li>Renforcer la perte de repère par le biais d’un environnement qui joue avec les perceptions.</li>
      <li> Renforcer le sentiment d’enfermement en proposant un lieu clos.</li>
      <li>Renforcer le sentiment que le labyrinthe joue avec le joueur en en faisant une entité vivante de par l’utilisation du genre fantastique.</li>
    </ul>
    <p>Ainsi, dans Bewilder House, le joueur explore une étrange funhouse contenant tapis roulants, mécanismes en mouvement, objets qui changent de place lorsqu’il ne les regarde pas et visages clownesques angoissants.</p>
  </div>

  <div class="project-part t1">
    <h3>Annecdote</h3>
    <p><strong>Pourquoi l'équipe qui a développé Bewilder House s'appelle la Minoteam ?</strong></p>
    <p>Parce que le concept original du jeu s'appelait "Minotaure" ! Le nom du jeu a changé au cours du développement, mais l'équipe a conservé le nom Minoteam.</p>
  </div>

</div>
