<div class="project-template borderleft">
  <h1>Do You Speak Digital ?</h1>
  <p>Un COOC gamifié sur le thème des nouvelles technologies et d'Internet, développé avec AXA Groupe.</p>

  <div>
    <h2>A propos</h2>
    <p>Do You Speak Digital ? est un COOC gamifié que Fremen Corp a développé pour AXA Groupe. Il porte sur le thème du "digital". Les utilisateurs sont invités à s'informer sur des sujets tels que les moteurs de recherche, les données personnelles, les nouvelles technologies... à travers des vidéos et des quiz. Le projet a été déployé chez AXA en 2015 et a u un très bon taux de participation.</p>
  </div>

</div>