<div class="project-template borderleft">
  <h1>{{t "category.slot.dysd.label"}}</h1>
  <p>{{t "category.slot.dysd.intro"}}</p>

  <div class="project-part t1">
    <p>{{t "category.slot.dysd.about"}}</p>
  </div>

  <div class="project-part t2">
    <p>{{t "category.slot.dysd.tech"}}</p>
  </div>

</div>