<ProjectTemplate @projectId="dysd">
  <div class="project-part">
    <p>{{t "category.slot.dysd.about"}}</p>
  </div>

  <div class="project-part">
    <p>{{t "category.slot.dysd.tech"}}</p>
  </div>
</ProjectTemplate>