<div class="project-template borderleft">
  <h1>AXA Esprit De Service</h1>
  <h2>Un serious game sur le thème de la relation client, développé avec AXA France.</h2>

  <div>
    <h3>A propos</h3>
    <p>Esprit De Service est un serious game qui a été déployé sur l'intranet de AXA France en 2014. Il vise à améliorer la relation client à travers notamment des mini-jeux de dialogue. Le haut taux de participation des salariés au serious game a encouragé AXA à développer d'autres projets du même type, et FremenCorp a par la suite développé un second serious game Esprit De Service 2.</p>
  </div>

</div>