<div class="project-template borderleft">
  <h1>Energy Cat</h1>
  <h2>Energy Cat rêve de vivre dans la maison du futur. Tout en avançant pas à pas vers son rêve, aidez-le à gérer sa maison et empêcher son humain de gaspiller trop d'énergie.</h2>

  <div>
    <h3>A propos</h3>
    <p>EnergAware est un projet européen porté par l'université de Plymouth. L'un des aspects du projet est la réalisation d'un serious game permettant la prise de conscience de gestes quotidiens simples à réaliser pour économiser l'énergie. Ce serious game est Energy Cat, réalisé par FremenCorp.</p>
  </div>

</div>
