<ProjectTemplate @projectId="energycat">
  <img
    alt={{t "category.slot.energycat.image"}}
    src="/img/banners/banner-energycat-start.png"
  />

  <div class="project-part t1">
    <p>{{t "category.slot.energycat.about"}}</p>
  </div>

  <div class="project-part t2">
    <p>{{t "category.slot.energycat.link"
      energaware="https://www.energaware.eu/#"
      htmlSafe=true
    }}</p>
  </div>
</ProjectTemplate>
