<ProjectTemplate @projectId="homeplay">
  <div class="project-part">
    <p>{{t "category.slot.homeplay.apis"}}</p>
  </div>
  <div class="project-part">
    <p>{{t "category.slot.homeplay.limitations"}}</p>
  </div>
  <div class="project-part">
    <p>{{t "category.slot.homeplay.context"}}</p>
  </div>
</ProjectTemplate>