<ProjectTemplate @projectId="homeplay" as |tkey|>
  <div class="project-part">
    <p>{{t (concat tkey "apis")}}</p>
  </div>
  <div class="project-part">
    <p>{{t (concat tkey "limitations")}}</p>
  </div>
  <div class="project-part">
    <p>{{t (concat tkey "context")}}</p>
  </div>
</ProjectTemplate>