<div class="project-template borderleft">
  <h1>Imagana</h1>
  <h2>Un serious game à destination des personnes en situation d’illettrisme. Incarnez Mô, un personnage possédant le pouvoir de créer des objets à partir des phonèmes qui les composent. Utilisez cette capacité afin de franchir des obstacles.</h2>

  <div class="project-part t1">
    <h3>Cinématique d'introduction</h3>
    <div class="video">
      <iframe width="640" height="360" src="https://www.youtube.com/embed/JGfgdKd0yrU" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <div class="project-part t2">
    <h3>A propos</h3>
    <p>Imagana est un projet porté par la société Formagraph et sur lequel j'ai travaillé pendant 9 mois au cours de son développement, d'abord en tant que stagiaire de Formagraph, puis en tant que salariée de FremenCorp.</p>
    <p>Il s'agit d'un projet intelligent auquel je suis fière d'avoir participé. C'est un serious game qui ose être "un vrai jeu", un concept vers lequel tout serious game devrait tendre. Travailler sur ce projet a été très enrichissant.</p>
  </div>

  <div class="project-part t1">
    <h3>Liens</h3>
    <p>Jouez à Imagana depuis <strong><a target="_blank" class="important" href="http://www.imagana.com/">la page du jeu</a></strong>. Vous pouvez le télécharger ou jouer directement en ligne.</p>
    <p>Pour en savoir plus sur le projet et son contexte, rendez-vous sur <strong><a target="_blank" class="important" href="http://www.imagana.info/">le site d'information</a></strong> du jeu.</p>
    <p>Consultez les dernières news sur <strong><a target="_blank" class="important" href="http://www.facebook.com/imaganalejeu">la page Facebook</a></strong> du jeu.</p>
  </div>

  <div class="project-part t2">
    <h3>Vidéo de gameplay</h3>
    <div class="video">
      <iframe width="640" height="360" src="https://www.youtube.com/embed/yhXU5FAoBwU" frameborder="0" allowfullscreen></iframe>
    </div>
    <p>
      Cette vidéo de gameplay est ancienne, mais elle montre l'état du projet à l'époque où je travaillais dessus. J'ai implémenté de nombreux éléments que vous voyez à l'écran :
      <ul>
        <li>Tout d'abord le système principal de slot de phonèmes qui permet de faire apparaître les "artéfacts" (objets contenus dans les sphères), et dont j'ai participé au design.</li>
        <li>Le drag and drop des phonèmes, qui viennent se fixer au slot le plus proche.</li>
        <li>Egalement de nombreux FX comme la lumière des slots, le clignotement des obstacles sur lesquels poser les artéfacts, l'animation des gemmes rouges vers le compteur de l'UI...</li>
        <li>J'ai également écris le shader bleuté utilisé pour les artéfacts</li>
      </ul>
      J'ai implémenté encore bien d'autres fonctionnalités sur Imagana, et travailler sur ce projet était un réel bonheur.
    </p>
  </div>

  <div class="project-part t1">
    <h3>Univers</h3>
    <p>L'univers d'Imagana se veut coloré et fantaisiste. Les personnes en situation d'illettrisme vivent parfois des moments difficiles au quotidien. L'équipe de Formagraph ne souhaitait pas se diriger vers une direction artistique réaliste, qui aurait pu reproduire des schémas de tous les jours, plaçant le joueur dans un état d'anxiété.</p>
    <p>Ainsi, le choix a été fait de placer le joueur dans un univers qui lui permet de rêver, et d'apprendre à son rythme sans se soucier du monde réel.</p>
  </div>

  <div class="project-part t2">
    <h3>Annecdote</h3>
    <p>Pendant mon stage chez Formagraph, la pédagogue Danielle Chopinot m'a emmenée à quelques sessions de playtest à l'IFPA. J'ai pu observer comment des joueurs en situation d'illettrisme se comportaient avec les mécaniques que j'avais implémentées, et j'ai entrevu un univers qui m'était jusqu'alors inconnu.</p>
  </div>

</div>