<ProjectTemplate @projectId="lepetitspirou">
  <div class="project-part">
    <h2>{{t "general.about"}}</h2>
    <p>{{t "category.slot.lepetitspirou.about1"}}</p>
    <p>{{t "category.slot.lepetitspirou.about2"}}</p>
  </div>
</ProjectTemplate>