<div class="project-template borderleft">
  <h1>Le Petit Spirou : le jeu</h1>
  <p>Un jeu de plateforme rendant hommage à la célèbre bande dessinée du même nom. Le joueur incarne le Petit Spirou et se déplace de bêtise en bêtise par les fenêtres d'une bande dessinée.</p>

  <div>
    <h2>A propos</h2>
    <p>Ce jeu est issu d'un partenariat entre Supinfogame et les éditions Dupuis. Toutes les promotions confondues de Supinfogame ont été réparties en quelques groupes qui devaient réaliser un jeu à partir de l'univers d'une bande dessinée publiée par Dupuis.</p>
    <p>Mon groupe a donc travaillé à partir du Petit Spirou. Le premier prototype a été produit par l’équipe (voir crédits) en deux semaines et proposé aux éditions Dupuis. Enthousiasmée par notre travail, la direction de Dupuis a choisi de mener le projet à son terme, et le jeu a été publié le 10 Septembre 2012 sur bandgee.com</p>
  </div>

</div>