<div class="project-template borderleft">
  <h1>Linky Game</h1>
  <p>Apprenez à reconnaître les objets énergivores et dangereux aux côtés de Linky, et sauvez les kilowatt-heure.</p>

  <div>
    <h2>A propos</h2>
    <p>Linky Game est un petit runner développé par FremenCorp pour ERDF Champagne-Ardennes. L'avatar du joueur est une personnification du compteur Linky, qui doit se connecter aux différents objets énergivores. Linky Game s'adresse à un public jeune et a été réalisé avec la participation de classes élémentaires et moyennes d'écoles de la région. Les enfants ont conçu les niveaux de jeu lors d'ateliers.</p>
  </div>

</div>