<div class="project-template borderleft">
  <h1>Reef</h1>
  <h2>Un jeu appaisant destiné à informer le public sur la technologie Biorock, qui encourage le développement de récifs coralliens. Reef a été sélectionné pour la finale de l’Imagine Cup France 2012, et a fait partie des cinq meilleurs projets français dans la catégorie game design.</h2>

  <div class="project-part t1">
    <h3>A propos</h3>
    <p>Reef a été imaginé dans le cadre de la participation à l'Imagine Cup 2012, section game design. Ce concours étant organisé par Microsoft, le prototype a été développé pour Windows Phone 7.</p>
    <p>Reef était le projet de mes coéquipiers, Philippe, Marie et Marc. Je me suis proposée de les rejoindre car ils étaient en recherche d'un développeur pour concrétiser leur concept.</p>
  </div>

  <div class="project-part t2">
    <h3>Trailer</h3>
    <div class="video"><video controls src="/video/reef_gameplay.mp4" width="640" height="360"></video></div>
  </div>

  <div class="project-part t1">
    <h3>Annecdote</h3>
    <p>Comme Reef a été sélectionné pour la finale française, nous avons participé au Bootcamp ! Microsoft nous a invité dans une immense propriété, avec toujours nourriture et boisson à portée de main. Nous avons passé la nuit à développer, soutenus par les coaches de Microsoft, et nous avons fait des présentations en anglais devant les jury.</p>
  </div>

</div>