<div class="project-template borderleft">
  <h1>{{t "category.slot.renard.label"}}</h1>
  <p>{{t "category.slot.renard.intro"}}</p>

  <div class="project-part t1">
    <p>{{t "category.slot.renard.drawings"}}</p>
  </div>
</div>