<ProjectTemplate @projectId="renard">
  <a href="http://academie-des-renards.dunstetter.fr/"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img class="shadowbox"
      alt={{t "category.slot.renard.site"}}
      src="/img/banners/banner-adr.png"
    />
  </a>
  <div class="project-part aligncenter">
    <p>{{t "category.slot.renard.drawings"}}</p>
    <a href="https://instagram.com/academiedesrenards/"
      target="_blank"
      rel="noopener noreferrer"
    >
      {{t "category.slot.renard.checkInstragram"}} &#8594;
      <img class="logo"
        alt={{t "category.slot.renard.iconInstragram"}}
        src="/img/logos/instagram.png"
      />
    </a>
  </div>
</ProjectTemplate>