<div class="project-template borderleft">
  <h1>Star Runner: Genesis</h1>
  <p>Dans ce jeu d'aventure spatial, explorez l'univers avec votre vaisseau, commercez pour l'améliorer et combattez pour le camp que vous avez choisi.</p>

  <div>
    <h2>A propos</h2>
    <p>Star Runner: Genesis est un jeu Flash auto-publié par FremenCorp sur la plateforme Kongregate. Il se place dans la liste des projets Fremen comme un petit clin d'oeil à l'industrie du jeu vidéo classique, d'où proviennent les différents associés, et surtout à la science fiction, une littérature appréciée des fondateurs de l'entreprise.</p>
  </div>

</div>