<div class="project-template borderleft">
  <h1>{{t "category.slot.srg.label"}}</h1>
  <p>{{t "category.slot.srg.intro"}}</p>

  <div class="project-part t2">
    <h2>{{t "general.about"}}</h2>
    <p>{{t "category.slot.srg.about"}}</p>
  </div>

</div>