<div class="project-template borderleft">
  <h1>Stupid Hermit Crab</h1>
  <h2>Une colonie de planctons habite sur un Bernard L’ermite particulièrement stupide. Pour assurer la survie de leur hôte, les planctons créent dans son cerveau des connexions neuronales.</h2>

  <div class="project-part t1">
    <h3>Exécutable</h3>
    <p>Testez Stupid Hermit Crab ! <strong><a target="_blank" class="important" href="http://www.mediafire.com/download/axtnkaynw9vmoh6/Stupid+Hermit+Crab.zip">Téléchargez-le ici</a></strong> avec MediaFire et lancez le .exe qui se trouve dans le zip.</p>
  </div>

  <div class="project-part t2">
    <h3>Vidéo de gameplay</h3>
    <p>Pas le temps de tester Stupid Hermit Crab ? C'est bien dommage, mais vous pouvez jeter un coup d'oeil à cette vidéo pour vous faire une petite idée du jeu.</p>
    <div class="video"><video controls src="/video/shc_gameplay.avi" width="640" height="360"></video></div>
  </div>

  <div class="project-part t1">
    <h3>A propos</h3>
    <p>Stupid Hermit Crab est un projet auquel j'ai participé à Supinfogame. Il a été réalisé à partir de la direction artistique d’un autre projet étudiant : Crustacity. La consigne donnée était de s’approprier l’univers d’un autre groupe afin de créer un puzzle game. L’objectif véritable du projet était de tester l’efficacité des équipes constituées pour l’année suivante. Notre groupe s’est révélé efficace. Nous avons réalisé un prototype de bonne qualité dans le temps imparti et dans la bonne entente. Ainsi, la meilleure note de la promotion nous a été attribuée.</p>
  </div>

  <div class="project-part t2">
    <h3>Annecdote</h3>
    <p>Avez-vous remarqué ? Stupid Hermit Crab a été réalisé par la Minoteam ! En effet, le but du projet était de tester les équipes qui travailleraient ensemble toute l'année suivante. Et l'année suivante, nous avons réalisé Bewilder House.</p>
  </div>

</div>