<div class="project-template borderleft">
  <h1>Super Koala Jetpack Revenge</h1>
  <h2>Un Koala part à la poursuite de ses précieuses feuilles d’eucalyptus, emportées par les humains à bord d’un avion. Pour les récupérer, le marsupial se munit d’un aspirateur et d’un jetpack produisant une fumée opaque. Son but : aspirer le plus de feuilles possible en évitant ses poursuivants, dissimulés sous la fumée du jetpack.</h2>

  <div>
    <h3>A propos</h3>
    <p>Super Koala Jetpack Revenge est un projet réalisé pendant la seconde "semaine intensive" de mon cursus à Supinfogame, il s'agit également de mon premier essai avec Flash en tant que graphiste... On peut dire que j'ai bien progressé depuis ^^, mais je suis quand même contente de ce petit jeu décalé réalisé avec Alexis et Valentin, mes coéquipiers de la Minoteam.</p>
  </div>

</div>