<ProjectTemplate @projectId="travel">
  <div class="project-part t1">
    <p>{{t "category.slot.travel.japanIntro"}}</p>
    <a href="https://panodyssey.com/fr/creative/room/les-carnets-du-japon-e65ncc9kc74q"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img class="shadowbox"
        alt={{t "category.slot.travel.japanNotes"}}
        src="/img/banners/banner-himeji.JPG"
      />
    </a>
  </div>
</ProjectTemplate>