<ProjectTemplate @projectId="travel" as |tkey|>
  <div class="project-part">
    <p>{{t (concat tkey "japanIntro")}}</p>
    <a href="https://panodyssey.com/fr/creative/room/les-carnets-du-japon-e65ncc9kc74q"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img class="shadowbox"
        alt={{t (concat tkey "japanNotes")}}
        src="/img/banners/banner-himeji.JPG"
      />
    </a>
  </div>
</ProjectTemplate>